*.exe
*.o
src/grammar.cpp
src/grammar.hpp
src/grammar.output
src/lexer.cpp
grammar.cpp
grammar.hpp
grammar.output
*.txt
*.dot
*.svg
*.asm
Debug/

Release/

libiconv2.dll

libintl3.dll

*.vcxproj

*.vcxproj.filters

*.vcxproj.user

*.sln
*.sdf
*.suo
*.opensdf

regex2.dll

src/tmp-__-

tmp-__-

.gitattributes
