*.exe
*.o
src/grammar.cpp
src/grammar.hpp
src/grammar.output
src/lexer.cpp
grammar.cpp
grammar.hpp
grammar.output
lexer_log.txt
parser_log.txt
scope.txt
errors.txt
graph_log.txt
*.php
*.dot
*.svg
Debug/
	
Docs/
	
Release/
	
libiconv2.dll
	
libintl3.dll
	
*.vcxproj
	
*.vcxproj.filters
	
*.vcxproj.user
	
regex2.dll
	
src/tmp-__-
	
tmp-__-